<nav class="nav navbar-nav">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      {{items.login}}
    </li>
    <li class="nav-item">
      {{items.edit_user}}
    </li>
    <li class="nav-item">
      {{items.logout}}
    </li>
  </ul>
</nav>
